/* Common styles for code sections */
.code_content{
    width: 90%;
    font-size: 14px;
    font-family: "Droid Sans Mono", monospace;
    background-color: rgba(50, 50, 50, 0.1);
    margin: 10px 0 16px 16px;
}
.table_code{
    border-collapse: collapse;
}
.line_number{
    user-select: none;
    padding-left: 8px;
    border-right: 5px solid rgba(20, 20, 20, 0.6);
    padding-right: 12px;
}
.code_line, .multi_comment{
    padding-left: 10px;
}
/* colors */
/* special key-works */
/* function type and include */
.special_word_one{ color: #d70f55;}
.function_call{ color: #094b9a; font-weight: bold;}
.code_pre-styled{ display: inline;}
.special_word_one, .return{ font-weight: bold;}
.header_include{ color: #24a7ad;}
.operator{ color: #454545}
.string{ color: #10af0a;}
.number{ color: #401e90;}
.func_name{ color: #4e504e;}
.break_line{ color: #ad0a01; font-weight: bold;}
.var_name{ color: #e84105; font-weight: bold;}
.var_name_use{ color: #f8571d; font-weight: bold;}
.multi_comment{ color: rgba(20, 20, 20, 0.5);}
/* C conventions */
/* include an header file */
